* {
    box-sizing: border-box;
    font-family: 'MedievalSharp', cursive, serif;
    align-items: center;
    text-align: center;
}

#board {
    animation: slide-in 5000ms;
    display: flex;
    margin: auto;
    justify-content: center;
}

#reset {
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
}

p {
    text-align: center;
}

h2 {
    animation: grow-and-shrink 2000ms;
}

button {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    background-color: red;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#audio{
    visibility: hidden;

}

button:hover {
    background-color: red
}

button:active {
    background-color: red;
    transform: scale(0.95);
}


button:focus {
    outline: none;
    box-shadow: 0 0 5px red(0, 0, 255, 0.5);
}

@keyframes grow-and-shrink {
    0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.5);
      }
      100% {
        transform: scale(1);
      }
    }

@keyframes spin {
    0% {
        transform: rotate(0turn) scale(1);
      }
      25% {
        transform: rotate(1turn) scale(1.5);
      }
      0% {
        transform: rotate(1turn) scale(1);
      }
      /* 75% {
        transform: rotate(0turn) scale(1.5);
      } */
      /* 100% {
        transform: rotate(0turn) scale(1);
      } */
}

@keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
