* {
    box-sizing: border-box;
    font-family: 'Young Serif', serif;
    

}

#board{
    display: flex;
    justify-content: space-between;
  }

#reset{
    justify-content: center;
}

footer{
    display: flex;
    flex-direction: column;
  }

  p{
    text-align: center;

  }
